@media screen and (max-width: 768px) {
  .cvBack {
    width: 100%;
  }
  .cvBox {
    width: 100%;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-top: 50px;
  }
  .cvEmpt {
    order: 3;
  }
  .cvIntr {
    order: 2;
    width: 100%;
    margin-left: 60px;
  }
  .cvIntr .eachIntr {
    margin-top: 10px;
    width: 340px;
  }
  .cvImgBox {
    order: 1;
  }
  .cvImg {
    width: 75%;
    position: static;
    left: 50%;
    transform: translate(15%, 0);
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }
}
@media screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  /* 큰박스 */
}
