/* 모바일 버전 */
@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: flex-end;
  }
  #background {
    height: 100vh;
  }
  #conceptImg {
    margin-top: 20px;
    width: 100%;
  }
  #copyright {
    position: relative;
    left: 0px;
    right: 10%;
    padding-right: 2%;
    margin-top: 10px;
  }
}
@media screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .main {
    flex-direction: column;
    align-items: flex-end;
  }
  #background {
    height: 100vh;
  }
  #conceptImg {
    margin-top: 20px;
    width: 100%;
  }
  #copyright {
    position: relative;
    left: 0px;
    right: 10%;
    padding-right: 2%;
    margin-top: 10px;
  }
}
