/* 모바일 버전 */
@media screen and (max-width: 768px) {
  /* 큰 박스 */
  .big_box {
    width: 100%;
  }
  footer {
    padding-top: 40px;
  }
  /* 중간박스 */
  .movie_title {
    margin-left: 20px;
  }
  .main_box {
    flex-direction: column;
  }
  .bottom {
    height: 40px;
    margin-top: 60px;
  }

  /* 세부 박스 */
  .text_box {
    width: 92%;
  }
  .img_box {
    width: 100%;
  }
  .stillCut {
    width: 100%;
  }

  /* nav박스 */
  .anchor_content {
    align-items: flex-end;
    text-align: end;
    right: 5px;
    top: 500px;
  }
  .content {
    color: rgb(96, 223, 255);
  }
}
@media screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  /* 큰 박스 */
  .big_box {
    width: 100%;
  }
  footer {
    padding-top: 40px;
  }
  /* 중간박스 */
  .movie_title {
    margin-left: 20px;
  }
  .main_box {
    flex-direction: column;
  }
  .bottom {
    height: 40px;
    margin-top: 60px;
  }

  /* 세부 박스 */
  .text_box {
    width: 92%;
  }
  .img_box {
    width: 100%;
  }
  .stillCut {
    width: 100%;
  }

  /* nav박스 */
  .anchor_content {
    align-items: flex-end;
    text-align: end;
    right: 5px;
    top: 600px;
  }
  .content {
    color: rgb(96, 223, 255);
  }
}
