/* 모바일 버전 */
@media screen and (max-width: 768px) {
  footer {
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: right;
  }
}
@media screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  /* 큰박스 */
}
